{
  "entity": [
    {
      "key1": "valueA",
      "key2": "valueB"
    },
    {
      "key1": "valueC",
      "key2": "valueD"
    }
  ],
  "anotherEntity": [
    {
      "key3": "valueA",
      "key4": "valueB"
    },
    {
      "key3": "valueC",
      "key4": "valueD"
    }
  ]
}